body {
  color: white;
  background-color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
    padding: 0px 50px;
}

/* ::::::::::::::: NAV BAR ::::::::::::::: */

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: greenyellow;
}
/* ::::::::::::::: HEADER ::::::::::::::: */
header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid green;
}

.header_center {
    text-align: center;
}

h1 {
    color: green;
}

header h2 {
    margin-top: 2px;
}
/* ::::::::::::::: FOOTER ::::::::::::::: */
footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

footer img {
    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid rgb(55, 77, 55);
}